{% extends 'Bases/BaseInicio.html' %}
{% load static %}
{% block conteudo %}

<body>
    <div class="container top">
        <p class="tituloIndex">Por que?</p>
        <p class="fs-5 fw-bolder text-muted">“Organização, eficiência, economia e praticidade”</p>
        <div class="text-justify">
            <p style="text-align: justify;">
                Nos setores de varejo, manufatura, food service e outros negócios
                semelhantes, os insumos e os produtos acabados representam a base do
                negócio. Por esse motivo, o estoque é considerado um dos ativos mais
                valiosos dessa empresa, porque representa seu lucro, sua forma de capital.
                Por isso, não ter um sistema de controle eficaz mesmo que seja de modo
                antigo, pode significar um risco elevado à continuidade do negócio. Empresas
                principalmente aquelas menores e sem um grande público alvo são as mais
                afetadas por não terem um sistema que controle essa entrada e saída de
                produtos. Porém, pequenas empresas também sofrem com outros problemas
                como por exemplo:
            </p>
            <ul>
                <li>
                    Saber a quantidade do produto que tem armazenado em seu armazém.
                </li>
                <li>
                    Saber sobre a qualidade do produto.
                </li>
                <li>
                    Saber maiores informações sobre o produto em si
                </li>
                <li>
                    E principalmente não saber ou não ter controle de seus compradores ou vendedores
                </li>
                <li>
                    Ter uma descrição completa tanto no âmbito logístico quanto no administrativo
                </li>
            </ul>
            <p class="" style="text-align: justify;">
                Por esse e outros motivos foi criado o sistema de “Controle de estoque”
                que tem a função de garantir que a quantidade certa de mercadorias esteja
                disponível em uma organização, garantir a integridade da organização, e
                principalmente garantir o produto. Quando a empresa tem este acompanhamento e gerenciamento e ele
                é feito de forma adequada, é possível maximizar os lucros e ainda melhorar a
                satisfação do cliente, porque as empresas passam a ter ferramentas e dados
                suficientes para avaliar seu estado atual e adequá-lo à projeção de vendas.
                Além disso, as empresas passam a contar com uma precificação mais
                adequada e ainda conseguem reduzir custos e perdas, o que contribui para o
                aumento da lucratividade. Com um sistema de controle de estoque, além de a
                redução da quantidade de erros ser considerável, há um acompanhamento
                completo e em tempo real e processos integrados e automatizados, sem falar
                no apoio às tomadas de decisão.
            </p>
            <p class="tituloIndex">Vantagens?</p>
            <div class="row mt-5">
                <div class="col s12 m6 l6 top">
                    <span class="fs-5 fw-bolder text-muted">
                        Elevação do poder de decisão, embasando as estratégias nos relatórios
                        da plataforma.
                    </span>
                </div>
                <div class="col s12 m6 l6">
                    <div class="d-flex justify-content-end">
                        <img src="{% static 'imagens/ApresentaçãoXI.svg' %}" alt="Foto de Apresentação" width="60%" height="60%">      
                    </div> 
                </div>
            </div>
            <div class="row mt-5">
                <div class="col s12 m6 l6">
                    <div class="d-flex justify-content-start">
                        <img src="{% static 'imagens/ApresentaçãoVII.svg' %}" alt="Foto de Apresentação" width="60%" height="60%">      
                    </div> 
                </div>
                <div class="col s12 m6 l6 top">
                    <span class="fs-5 fw-bolder text-muted">
                        Aumento da produtividade da equipe em função da economia de tempo
                        na localização dos itens em estoque.
                    </span>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col s12 m6 l6 top">
                    <span class="fs-5 fw-bolder text-muted">
                        Diminuição tanto dos custos logísticos como das demais despesas
                        operacionais;
                    </span>
                </div>
                <div class="col s12 m6 l6">
                    <div class="d-flex justify-content-end">
                        <img src="{% static 'imagens/ApresentaçãoV.svg' %}" alt="Foto de Apresentação" width="90%" height="600%">      
                    </div> 
                </div>
            </div>
            <div class="row mt-5">
                <div class="col s12 m6 l6">
                    <div class="d-flex justify-content-start">
                        <img src="{% static 'imagens/ApresentaçãoVI.svg' %}" alt="Foto de Apresentação" width="60%" height="60%">      
                    </div> 
                </div>
                <div class="col s12 m6 l6 top">
                    <span class="fs-5 fw-bolder text-muted">
                        Aprimoramento da noção de compra, com um acompanhamento
                        atualizado das necessidades operacionais;
                    </span>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col s12 m6 l6 top">
                    <span class="fs-5 fw-bolder text-muted">
                        Prevenção de prejuízos e redução de erros
                        da plataforma.
                    </span>
                </div>
                <div class="col s12 m6 l6">
                    <div class="d-flex justify-content-end">
                        <img src="{% static 'imagens/ApresemtaçãoIII.svg' %}" alt="Foto de Apresentação" width="60%" height="60%">      
                    </div> 
                </div>
            </div>
            <div class="row mt-5">
                <div class="col s12 m6 l6">
                    <div class="d-flex justify-content-start">
                        <img src="{% static 'imagens/ApresemtaçãoII.svg' %}" alt="Foto de Apresentação" width="60%" height="60%">      
                    </div> 
                </div>
                <div class="col s12 m6 l6 top">
                    <span class="fs-5 fw-bolder text-muted">
                        Melhor controle de gestão sobre as pessoas e suas funcionalidades. Além da otimização de processos <br>internos
                    </span>
                </div>
            </div>
        </div>
        

    </div>
</body>

{% endblock %}