{% extends 'Bases/BaseInicio.html' %}
{% load static %}
{% block conteudo %}

<body>
    <div class="container top">
        <p class="tituloIndex">Para quem?</p>
        <p style="text-align: justify;">
            Tem como alvo mercado grandes e pequenos negócios. Todos
            que tenham como objetivo organizar seu estoque. Por ser prático e dinâmico,
            auxilia principalmente empresas que estão se consolidando e precisam de
            praticidade e rapidez para organizar os produtos que irão oferecer. Isso tudo
            de uma forma efetiva e produtiva.
        </p>
        <div>
            <div class="card-group gap-3">
                <div class="card zoomCards">
                    <img class="card-img-top" src="{% static 'imagens/restaurante.svg' %}" alt="Imagem de login" style="width: 100%; margin-top: 5%;">
                </div>
                <div class="card zoomCards">
                    <img class="card-img-top" src="{% static 'imagens/lojas.svg' %}" alt="Imagem de login" style="width: 100%; margin-top: 5%;">
                </div>
                <div class="card zoomCards">
                    <img class="card-img-top" src="{% static 'imagens/Mercado.svg' %}" alt="Imagem de login" style="width: 100%; margin-top: 5%;">
                </div>
            </div>
            <div class="card-group gap-3 mt-3">
                <div class="card zoomCards">
                    <img class="card-img-top" src="{% static 'imagens/SORVETERIA.svg' %}" alt="Imagem de login" style="width: 100%; margin-top: 5%;">
                </div>
                <div class="card zoomCards">
                    <img class="card-img-top" src="{% static 'imagens/geral.svg' %}" alt="Imagem de login" style="width: 100%; margin-top: 5%;">
                </div>
                <div class="card zoomCards">
                    <img class="card-img-top" src="{% static 'imagens/restauranteI..svg' %}" alt="Imagem de login" style="width: 100%; margin-top: 5%;">
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock %}