{% extends 'Bases/BaseProjeto.html' %}
{% load bootstrap %}
{% block conteudo %}

<div class="container">
    <p class="titulo">Lista de Empresas</p>
    {% if ListEmpresas %}
        <div class="table-responsive mt-5 col-lg-12 mb-4 text-center">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Gerenciar</th>
                    </tr>
                </thead>
                <tfoot>
                    {% for empresa in ListEmpresas %}
                        <tr>
                            <td>{{empresa.nome}}</td>
                            <td>{{empresa.email}}</td>
                            <td>{{empresa.telefone}}</td>
                            <td>
                                <a class="btn btn-outline-dark" href="{% url 'ViewListarMovimentacaoEmpresa' empresa.id %}">Ver Mais</a>
                                <a class="btn btn-outline-dark" href="{% url 'ViewEditarEmpresa' empresa.id %}">Editar</a>
                                <a href="#" class="btn btn-outline-dark" data-bs-toggle="modal"  data-bs-target="#Desativar-{{empresa.id}}">Desativar</a>
                                <div class="modal fade" id="Desativar-{{empresa.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">                                        
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="p-3 text-center">                                                  
                                                    <i class="material-icons fs-120" style="color: rgb(228, 13, 13); font-size: 120px;">highlight_off</i>                                                                                                         
                                                    <div class="fs-2 mt-2">Tem certeza?</div>                                                   
                                                        <div class="text-muted mt-2">Você realmente quer desativar a empresa '{{ empresa.nome }}'? </div>     
                                                    </div>
                                                <div class="mb-4 text-center">                                                   
                                                    <button type="button" class="btn btn-light border border-1 px-4 m-1" data-bs-dismiss="modal">Cancelar</button>
                                                    <a href="{% url 'ViewDesativarEmpresa' empresa.id %}" class="btn btn-danger red-13 px-4">Desativar</a>                                                 
                                                </div>                                                   
                                            </div> 
                                        </div>
                                    </div>
                                </div> 
                            </td>
                        </tr>
                    {% endfor %}
                </tfoot>
            </table>
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Não há empresa cadastrada!</h4>
            <p>No nosso banco de dados não consta nenhuma empresa cadastrada. Caso houve um engano favor entrar em contato com a equipe de TI</p>
            <hr>
            <p class="mb-0"> Agora, caso queira <a href="{% url 'ViewCadastrarEmpresa' %}" class="alert-link"> cadastrar uma empresa</a> fique a vontade</p>
        </div>
    {% endif %}
</div>
<!-- <script>
    
</script> -->
{% endblock %}
