{% extends 'principal/baselogin.html' %}
{% load bootstrap %}
{% block conteudo %}

<script>
    $( document ).ready(function() {
        $('document').ready(function() {        
        $("#id_cep").mask("00000-000");
        $('#id_Telefone_celular').mask('(00) 0000-0000');
        $('#id_Cpf').mask('000.000.000-00');
    })
})
</script>
<!-- Modal com as informações de termos e condições descritas -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Termos e condições</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="text-align: justify;">
                1.1. De acordo com o presente Contrato, o Âmbito Jurídico proverá ao Usuário serviços gratuitos e 
                pagos de informação via internet (“Serviço”), tais como Notícias do Âmbito Jurídico, Revista Âmbito 
                Jurídico, Classificados, Diretório de Links e outros que o Âmbito Jurídico possa vir 
                a disponibilizar. O uso do Serviço implica na aceitação, pelo Usuário, dos termos deste Contrato.
                </p>
                <p style="text-align: justify;">
                    1.2. O Serviço estará disponível 24 horas por dia, 7 dias por semana.
                </p>
                <p style="text-align: justify;">
                    1.3. Não haverá limite de tempo de uso do Serviço Gratuito pelo Usuário, salvo 
                    interrupções ocasionadas por serviços de manutenção no sistema, falhas operacionais das 
                    empresas fornecedoras de energia elétrica e serviços de telecomunicações, caso fortuito ou força maior, 
                    pelos quais o Âmbito Jurídico não se responsabilizará sob nenhuma circunstância.
                </p>
                <p style="text-align: justify;">
                    1.3.1 O Serviço Pago terá duração de tempo de acordo com o tempo de assinatura contratada
                    pelo Usuário.
                </p>
                <p style="text-align: justify;">
                    1.3.2 Entende-se por Serviço Pago, aquele que for assim instituído, a conveniência do 
                    Âmbito Jurídico, para o qual deve o Usuário aderir mediante cadastro específico 
                    (além do cadastro gratuito no portal) e prévio pagamento. São pagos os seguintes 
                    serviços: Assessoria em Cálculos Judiciais e Extrajudicias, Programa de Rádio Âmbito 
                    Jurídico, Cursos a Distância, Seminários Virtuais (apenas quando o usuário quiser receber 
                    certificado de participação), Simulados virtuais e o acesso ao sistema de processo eletrônico 
                    do Âmbito Jurídico.
                </p>
                <p style="text-align:justify;">
                    1.4. O Serviço poderá ser alterado ou cancelado a qualquer tempo unilateralmente pelo 
                    Âmbito Jurídico, independentemente de notificação ao Usuário e sem que qualquer multa ou 
                    indenização seja devida pela mesma ao Usuário. Neste caso, Âmbito Jurídico avisará com 
                    antecedência de 15 dias, através do e-mail do Usuário, cadastrado no Serviço.
                </p>          
            </div>
            <div class="modal-footer">
                <button id="id_Fechar" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
                <button id="id_Entendi" type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Entendi</button>
            </div>
        </div>
    </div>
</div>             
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="Index">Criar conta gratuitamente</h4>
                            <hr class="divider"/>
							<form method="POST" class="my-login-validation" novalidate="">
                                {% csrf_token %}
								<div class="form-group">
									<label for="id_Nome">Nome</label>
									<input id="id_Nome" type="text" class="form-control" name="Nome" required autofocus>
                                    <div class="invalid-feedback">
										Qual seu nome?
									</div>
								</div>
                                <div class="form-group">
                                    <label for="id_Naturalidade">Naturalidade</label>
                                    <input id="id_Naturalidade" type="text" class="form-control" name="Naturalidade" required autofocus>
                                    <div class="invalid-feedback">
                                        Qual sua naturalidade?
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_Pais">País</label>
                                    <input id="id_Pais" type="text" class="form-control" name="Pais" required autofocus>
                                    <div class="invalid-feedback">
                                        Qual seu país?
                                    </div>
                                </div>
                                <div>
                                    {{ FormularioVazio.Status|bootstrap }}
                                </div> 
                                <div>
                                    {{ FormularioVazio.Escolaridade|bootstrap }}
                                </div>                                   
                                <div class="form-group">
                                    <label for="id_Telefone_celular">Número do celular</label>
                                    <input id="id_Telefone_celular" type="text" class="form-control" name="Telefone_celular" required autofocus>
                                    <div class="invalid-feedback">
                                        Número do celular do não específicado!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_Cpf">CPF</label>
                                    <input id="id_Cpf" type="text" class="form-control" name="Cpf" required autofocus>
                                    <div class="invalid-feedback">
                                        CPF Inválido!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_Nascimento">Nascimento</label>
                                    <input type="text" class="form-control" id="id_Nascimento" data-target="#id_Nascimento" data-toggle="datetimepicker" >
                                    <div class="invalid-feedback">
                                        Nascimento Inválido!
                                    </div>  
                                </div>
                                <div>
                                    {{ FormularioVazio.EstadoCivil|bootstrap }}
                                </div> 
                                <div class="form-group">
                                    <label for="id_Profissao">Profissão</label>
                                    <input id="id_Profissao" type="text" class="form-control" name="Profissao" required autofocus>
                                    <div class="invalid-feedback">
                                        Profissão não específicada!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_cep">CEP</label>
                                    <input id="id_cep" type="text" class="form-control" name="cep" required autofocus>
                                    <div class="invalid-feedback">
                                        CEP Inválido!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_estado">Estado</label>
                                    <input id="id_estado" type="text" class="form-control" name="estado" required autofocus>
                                    <div class="invalid-feedback">
                                        Estado não específicado!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_cidade">Cidade</label>
                                    <input id="id_cidade" type="text" class="form-control" name="cidade" required autofocus>
                                    <div class="invalid-feedback">
                                        Cidade não específicado!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_bairro">Bairro</label>
                                    <input id="id_bairro" type="text" class="form-control" name="bairro" required autofocus>
                                    <div class="invalid-feedback">
                                        Bairro não específicado!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_logradouro">Logradouro</label>
                                    <input id="id_logradouro" type="text" class="form-control" name="logradouro" required autofocus>
                                    <div class="invalid-feedback">
                                        Logradouro não específicado!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id_Numero">Número</label>
                                    <input id="id_Numero" type="number" class="form-control" name="Numero" required autofocus>
                                    <div class="invalid-feedback">
                                        Número não específicado!
                                    </div>
                                </div>                               
								<div class="form-group">
									<label for="id_email">E-Mail</label>
									<input id="id_email" type="email" class="form-control" name="email" required>
									<div class="invalid-feedback">
										Email Inválido
									</div>
								</div>
								<div class="form-group">
									<label for="id_password">Senha</label>
									<input id="id_password" type="password" class="form-control" name="password" required data-eye>
									<div class="invalid-feedback">
										Password is required
									</div>
								</div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="Senha">
                                    <label class="form-check-label" for="Senha">
                                        Mostrar Senha
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                                    <label class="form-check-label" for="dropdownCheck2">
                                        Li e concordo com os <a href="#staticBackdrop" data-bs-toggle="modal"  data-bs-target="#staticBackdrop">Termos e condições</a> descritos
                                    </label>
                                </div>
                                <br>
								<div class="d-grid gap-2 col-6 mx-auto">
                                    <button class="btn btn-outline-primary" id="botao" type="submit">Cadastrar</button>
                                </div>                       
                            </div>                   
                            <div class="mt-4 text-center">
                                Já tem uma conta? <a href="{% url 'Login' %}">Login</a>
                            </div>
							</form>
						</div>
					</div>
                    <div class="footer">
						Copyright &copy; 2021 &mdash; Camila Adriana|GomesMilla
					</div>
				</div>
			</div>
		</div>
	</section>

<script>
$( document ).ready(function() {
        $(function () {
            $('#id_Nascimento').datetimepicker({
                format: 'DD/MM/YYYY',
            });
            // get date from popup datepicker
            $("#datepicker-dialog .btn-primary").on("click", function () {
                $("#datepicker-dialog").modal('hide');

                var datepickerID =  $("[data-datepicker-popup='true']").attr("data-datepicker");
                var popupDatepickerValue = $("#"+datepickerID).data('date');
                var elementTagName = $("[data-datepicker-popup='true']").prop("tagName")

                if(elementTagName == "INPUT" || elementTagName == "TEXTAREA"){
                    $("[data-datepicker="+datepickerID+"]").val(popupDatepickerValue);	
                }else {
                    $("[data-datepicker="+datepickerID+"]").text(popupDatepickerValue);	
                }
            });
        });
        $("#botao").attr("disabled", "true"); // botão já começa desabilitado

        // Opções do modal para selecionar de acordo com o click
        $('#id_Entendi').click(function () {
            $("#dropdownCheck2").prop("checked", true); 
        })
        $('#id_Fechar').click(function () {
            $("#dropdownCheck2").prop("checked", false); 
        })
         // Configurações da senha para mostrar e esconder
        $('#Senha').click(function () {
            if($(this).is(':checked')){
                $("#id_password").attr("type", "text");
            }
            else {
                $("#id_password").attr("type", "password");
            }
        })
        // Configurações para habilitar o botão
        $( "#dropdownCheck2" ).click(function() {
            if($(this).is(':checked')){
                $("#botao").removeAttr("disabled", "");
            }else {
                $("#botao").attr("disabled", "true");
            }
        });
        // Configurações para habilitar o botão
        $("#id_Entendi" ).click(function() {
            if($(this).is(':checked')){
                $("#botao").removeAttr("disabled", "");
            }else {
                $("#botao").attr("disabled", "true");
            }
        });
        $("#id_cep").focusout(function(){
            //Início do Comando AJAX
            $.ajax({
                //O campo URL diz o caminho de onde virá os dados
                //É importante concatenar o valor digitado no CEP
                url: 'https://viacep.com.br/ws/'+$(this).val().replace(".","").replace("-","")+'/json/unicode/',
                //Aqui você deve preencher o tipo de dados que será lido,
                //no caso, estamos lendo JSON.
                dataType: 'json',
                //SUCESS é referente a função que será executada caso
                //ele consiga ler a fonte de dados com sucesso.
                //O parâmetro dentro da função se refere ao nome da variável
                //que você vai dar para ler esse objeto.
                success: function(resposta){
                    //Agora basta definir os valores que você deseja preencher
                    //automaticamente nos campos acima.
                    if (resposta.erro) {
                        $("#id_cep").removeClass('valid');
                        $("#id_cep").addClass('invalid');
                    }
                    $("#id_logradouro").val(resposta.logradouro);                    
                    $("#id_bairro").val(resposta.bairro);
                    $("#id_cidade").val(resposta.localidade);
                    $("#id_estado").val(resposta.uf);
                    
                    //Vamos incluir para que o Número seja focado automaticamente
                    //melhorando a experiência do usuário
                    
                    $("#id_numero").focus();
                }
            });
        });
    }); 
</script>
{% endblock %}