{% extends 'principal/baselogin.html' %}
{% block conteudo %}

</div>
    <body class="my-login-page">
        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-md-center h-100">
                    <div class="card-wrapper">
                        <div class="card fat">
                            <div class="card-body">
                                <h4 class="card-title">Login</h4>
                                <form method="POST" class="my-login-validation" novalidate="">
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <label for="id_username">E-Mail</label>
                                            <input id="id_username" type="email" class="form-control" name="username" value="" required autofocus>
                                            <div class="invalid-feedback">
                                                Email inválido!
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_password">Senha</label>
                                            <input id="id_password" type="password" class="form-control" name="password" value="" required autofocus>
                                            <div class="invalid-feedback">
                                                Senha inválida!
                                            </div>
                                            <div class="mb-3">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                                                    <label class="form-check-label" for="dropdownCheck2">
                                                        Mostrar Senha
                                                    </label>
                                                </div>
                                            </div>
                                            Esqueci minha senha <a href="{% url 'reset_password' %}">Recuperar</a>
                                        </div>
                                        <br>
                                        <div class="d-grid gap-2 col-6 mx-auto">
                                            <button class="btn btn-outline-primary" type="submit">Entrar</button>
                                        </div>
                                        <div class="mt-4 text-center">
                                            Não tem conta? <a href="{% url 'ViewCriarConta' %}">Criar</a>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
<script>
    $('#dropdownCheck2').click(function () {
        if($(this).is(':checked')){
            $("#id_password").attr("type", "text");
        }
        else {
            $("#id_password").attr("type", "password");
        }
    })
</script>
{% endblock %}