{% extends 'principal/baselogin.html' %}
{% block conteudo %}
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Redefinição de senha completa!</h4>
                            <p style="text-align: justify;">
                                Sua senha foi definida. Você pode prosseguir e se autenticar agora.
                            </p>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <a type="button" href="{% url 'Login' %}" class="btn btn-outline-primary">
                                    Login
                                </a>
							</div>              
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2021 &mdash; Camila Adriana|GomesMilla
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
{% endblock %}