{% extends 'principal/baselogin.html' %}
{% block conteudo %}
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Redefinição de senha enviada!</h4>
                            <p style="text-align: justify;">
                                Nós te enviamos um email com instruções para configurar sua senha, 
                                se uma conta existe com o email fornecido. Você receberá a mensagem em 
                                breve.
                            </p>
                            <p style="text-align: justify;">
                                Se você não recebeu um email, por favor certifique-se que você forneceu 
                                o endereço que você está cadastrado, e verifique sua pasta de spam.
                            </p>                    
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2021 &mdash; Camila Adriana|GomesMilla
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
{% endblock %}