{% extends 'principal/baseprojeto.html' %}
{% load bootstrap %}
{% block conteudo %}

<div class="container top">
    <h3 class="Index">Lista de Empresas</h3>
    <hr class="divider"/>
    {% if ListEmpresas %}
    <div class="table-responsive">
        <table class="table table-hover mt-5 shadow-sm p-3 mb-5 bg-body rounded" id="id_tabelaEmpresas">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Desativar</th>
                </tr>
            </thead>
            <tbody>
                {% for empresa in ListEmpresas %}
                    <tr>
                        <th scope="row">{{empresa.id}}</th>
                        <td>{{empresa.Nome}}</td>
                        <td>{{empresa.email}}</td>
                        <td>{{empresa.Cnpj}}</td>
                        <td>{{empresa.Telefone}}</td>
                        <td>
                            <a type="button" class="btn btn-outline-secondary">Editar</a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-outline-danger" data-bs-toggle="modal"  data-bs-target="#staticBackdrop-{{empresa.id}}">Desativar</a>
                            <div class="modal" id="staticBackdrop-{{empresa.id}}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Tem certeza que deseja desativar a Empresa</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Ao confirmar, a empresa só ficará disponível para usuários masters e não aparecerá em consultas ou cadastros</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <a class="btn btn-primary" href="{% url 'ViewDesativarEmpresa' empresa.id %}">Desativar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Não há empresa cadastrada!</h4>
            <p>No nosso banco de dados não consta nenhuma empresa cadastrada. Caso houve um engano favor entrar em contato com a equipe de TI</p>
            <hr>
            <p class="mb-0"> Agora, caso queira <a href="{% url 'ViewCadastrarEmpresa' %}" class="alert-link"> cadastrar uma empresa</a> fique a vontade</p>
        </div>
    {% endif %}
</div>
<script>
    $(document).ready(function(){
        $("#id_pesquisa").on("keyup", function() {
            Pesquisa("id_tabelaEmpresas tr","id_pesquisa");
        });
    });
</script>
{% endblock %}
