{% extends 'principal/baseprojeto.html' %}
{% load bootstrap %}
{% block conteudo %}

<div class="container">
    <h3 class="">Lista de Empresas</h3>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Telefone</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for empresa in ListEmpresas %}
                    <th scope="row">{{empresa.id}}</th>
                    <td>{{empresa.Nome}}</td>
                    <td>{{empresa.email}}</td>
                    <td>{{empresa.Cnpj}}</td>
                    <td>{{empresa.Telefone}}</td>
                    <td>
                        <a type="button" class="btn btn-outline-secondary">Editar</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-danger">Excluir</a>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
