@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    background-color: #F4EEEE;
}
.basico{
    color: azure;
    text-align: justify;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.titulo{
  text-align: center;
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 23px;
}
.Index{
  text-align: center;
  margin-top: 15%;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 23px;
}
hr.divider {
  height: 0.2em;
  max-width: 27rem;
  margin: 0.6rem auto;
	background: rgb(184, 131, 32);
  opacity: 1;
}
.cards{
  margin-top: 5%;
}
.top{
  margin-top: 10%;
}

/* Footer inferior */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    