{% extends 'Bases/BaseLogin.html' %}
{% load static %}
{% block conteudo %}

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col s12 s6 m6 mt-5">           
                <form method="POST" class="my-login-validation" novalidate="">
                    {% csrf_token %}
                        <div class="p-5">
                            <span class="tituloIndex">Recuperar Senha</span>
                            <div class="form-floating mb-3 mt-5">                    
                                <label for="id_email">E-Mail</label>
                                <input id="id_email" type="email" class="form-control" name="email" value="" required autofocus>
                            </div>
							<div class="RespostaAjax" id="Resposta"></div>
							<div class="form-text text-muted Texto">
								Ao clicar em "Redefinir senha", enviaremos um link de redefinição de senha
							</div>
                        </div>
                        <div class="d-grid gap-2 col-5 mx-auto">
                            <button class="btn btn-outline-primary rounded-pill" id="RecuperarSenha" type="submit">Recuperar Senha</button>
                        </div>
                </form>
            </div>
            <div class="col s6">
                <img src="{% static 'imagens/EsqueceuSenha.svg' %}" alt="Imagem de login" style="width: 100%; margin-top: 60%;">
            </div>
        </div>
    </div>
	<div class="footer">
		Copyright &copy; 2021 &mdash; Camila Adriana|GomesMilla
	</div>
</body>
{% endblock %}

{% block scripts %}
	<script>
		$( document ).ready(function() {
			$( "#id_email" ).change(function() {
				var Email = $("#id_email").val();    

				$.ajax({
                
				url: "{% url 'AjaxVerificarEmail' %}",

                data: {
                    "Email" : Email ,
                },
    
                dataType: 'json',
                
				success: function (data) {
				$( ".Texto" ).hide();
          		if(data.is_taken) {
					var area = document.getElementById('Resposta');
					area.innerHTML = "E-mail correto!"
					$("#Resposta").addClass("Correct");
          		}
				else{
					var area = document.getElementById('Resposta');
					area.innerHTML = data.error_message
					$("#id_email").addClass("form-control is-invalid");
					$("#Resposta").addClass("Invalid");
					$("#RecuperarSenha").prop("disabled",true);
					setTimeout(function(){ location.reload(); }, 2000);
				}
        		}
            });
        });
		}); 
	</script>
{% endblock %}