{% extends 'Bases/BaseProjeto.html' %}
{% load bootstrap %}
{% block conteudo %}

    <div class="container top">
        <div class="d-flex justify-content-center">
            <p class="fs-1 fw-bolder text-muted">Cadastrar Vendedor</p>
        </div>
        <form method="POST" class="my-login-validation" novalidate="">
            {% csrf_token %}
            <div class="form-group mt-3">
                {{form.pessoa|bootstrap}}
            </div> 
            <div class="form-group mt-3">
                {{form.empresa|bootstrap}}
            </div> 
            <div class="form-group mt-3 cadastradoPor">
                {{form.cadastradoPor|bootstrap}}
            </div>                                                                    
            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-outline-primary rounded-pill" id="botao" type="submit">Cadastrar</button>
            </div>
        </form>
    </div>

<script>
$( document ).ready(function() {
    $(".cadastradoPor").hide()
        
    });   
</script>
{% endblock %}