@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=Poppins:wght@300&display=swap');


body{
    background-color: #ffffff;
}
.basico{
    color: azure;
    text-align: justify;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.titulo{
  text-align: center;
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 23px;
}
.Index{
  text-align: center;
  margin-top: 14%;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 23px;
}
hr.divider {
  height: 0.2em;
  max-width: 27rem;
  margin: 0.6rem auto;
	background: rgb(184, 131, 32);
  opacity: 1;
}
.cards{
  margin-top: 5%;
}
.top{
  margin-top: 10%;
}

.topInicio{
  margin-top: 30%;
}

/* Footer inferior */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.bg-light{
  background-color: white !important;
}

.tituloIndex{
    margin-top: 13%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
}
/* Zoom dos cards iniciais */
.zoomCards:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(0.7);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.tabela{
  background-color: rgb(148, 148, 148);
}

::-webkit-scrollbar {
  display: none;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 5px;
}


::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 2px;
}


::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}

.Invalid{
  color: #DC3B56;
  font-family: 'Poppins', sans-serif;
}
.Correct {
  color: #607A38;
  font-family: 'Poppins', sans-serif;
}